.top-header{
	padding: 0;
}
#branding{
	padding: 4% 0;
}
.logo-text{
	padding: 4% 0;
}
.site-title{
	color: white;
}
.class-description{
	color: white;
}
.phone{
	margin-bottom: -50%;
}
.box-1 .top-header{
	padding: 30px 0;
}
 margin-right: auto;
 margin-left: auto;
 padding-left: 15px;
 padding-right: 15px;
 *zoom: 1; }
.container:after {
   	content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0; }
 @media (min-width: 768px) {
    .container {
      width: 750px; } }
 @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

#branding {
  float: left; }
  #branding .logo, #branding .logo-text {
    display: inline-block;
    vertical-align: middle; }
  #branding .logo {
    margin-right: 10px; }
  #branding .site-title {
    margin-bottom: 0;
    font-size: 20px;
    font-size: 1.25em; }
    #branding .site-title a {
      color: #768089; }
.right-section .phone, .right-section .search-form {
  display: inline-block;
  vertical-align: middle;
  position: relative; }
@media screen and (max-width: 640px) {
  .right-section .phone {
    display: none; } }
.right-section .phone img {
  vertical-align: middle; }
.right-section .search-form {
  margin: 10px 0;
  margin-left: 20px; }
  @media screen and (max-width: 480px) {
    .right-section .search-form {
      display: none; } }
  .right-section .search-form input {
    padding-right: 40px; }
  .right-section .search-form button {
    position: absolute;
    right: 0;
    top: 0;
    background: none; }

.site-header .bottom-header {
  background-color: #0f75bd;
  *zoom: 1;
  padding: 20px 0; }
  .site-header .bottom-header:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0; }
  @media screen and (max-width: 640px) {
    .site-header .bottom-header .social-links {
      display: none; } }

.main-navigation {
  float: left; }
  .main-navigation .menu-toggle {
    border: none;
    background: none;
    color: white;
    font-size: 20px;
    font-size: 1.25em;
    display: none;
    outline: none; }
    @media screen and (max-width: 990px) {
      .main-navigation .menu-toggle {
        display: block; } }
    @media screen and (min-width: 991px) {
      .main-navigation .menu-toggle {
        display: none; } }
  .main-navigation .menu {
    list-style: none;
    display: inline-block;
    margin-top: 5px; }
    @media screen and (max-width: 990px) {
      .main-navigation .menu {
        display: none; } }
    @media screen and (min-width: 991px) {
      .main-navigation .menu {
        display: block; } }
    .main-navigation .menu li {
      display: inline-block; }
      .main-navigation .menu li a {
        color: white;
        padding: 0 10px;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        -webkit-transition: .3s ease;
                transition: .3s ease; }
        .main-navigation .menu li a:hover {
          color: #42a8f0; }
      .main-navigation .menu li.current-menu-item a {
        color: #1392ec; }

button[disabled]
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

  .button, form input[type="submit"], form button, form input[type="reset"] {
  border: none;
  color: white;
  background: #0f75bd;
  padding: 10px;
  border-radius: 3px;
  display: inline-block;
  -webkit-transition: .3s ease;
          transition: .3s ease; }
  .button:hover, form input[type="submit"]:hover, form button:hover, form input[type="reset"]:hover, .button:focus, form input[type="submit"]:focus, form button:focus, form input[type="reset"]:focus {
    background: #1392ec; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

.mobile-navigation {
  clear: both;
  display: none; }
  @media screen and (min-width: 991px) {
    .mobile-navigation {
      display: none !important; } }
  .mobile-navigation .menu {
    list-style: none; }
    .mobile-navigation .menu a {
      padding: 20px 0;
      display: block;
      color: white; }
    .mobile-navigation .menu .current-menu-item a {
      color: #1392ec; }

.social-links {
  float: right; }
  .social-links a {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    text-align: center;
    line-height: 1.8;
    color: white;
    margin-left: 5px;
    display: inline-block;
    -webkit-transition: .3s ease;
            transition: .3s ease; }
    .social-links a:hover {
      color: #1392ec;
      border-color: #1392ec; }

.team {
  text-align: center;
  margin-top: 50px; }
  .team .team-image {
    overflow: hidden;
    border-radius: 50%;
    width: 230px;
    height: 230px;
    margin: 0 auto 30px; }
    .team .team-image img {
      display: block;
      width: 100%;
      max-width: 100%; }
  .team .team-name, .team .team-title {
    font-size: 16px;
    font-size: 1em; }
  .team .team-name {
    margin-bottom: 0; }
  .team .team-title {
    font-style: italic;
    display: block;
    margin-bottom: 20px; }
  .team .social-links {
    float: none;
    display: inline-block; }
    .team .social-links a {
      background: #0f75bd;
      border: none;
      font-size: 14px;
      font-size: 0.875em;
      line-height: 2; }
#address_search_container {
    background: #cccccc;
    margin-bottom: 20px;
    padding: 12px;
    border-radius: 4px;
}
#address_search_container h2 {
    font-size: 1.125rem;
    margin: 0;
    font-weight: 900;
    color: #cccccc;
}
.address_search_inside {
    position: relative;
    display: block;
}
.twitter-typeahead {
    width: 100%;
}
.twitter-typeahead .typeahead, .twitter-typeahead input[type="text"].tt-input{
  padding: 8px;
    height: 30px; 
    border-radius: 4px;
    box-shadow: 0 1px rgba(0,0,0,0.0275) inset;
    margin: 0;
    height: 42px;
    transition-duration: 100ms;
}
input{
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background-color: #f2f2f2;
    font-family: inherit;
    border-style: solid;
    border-width: 2px;
    border-color: #bfbfbf;
    font-size: 1rem;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    height: 2.3125rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: box-shadow 1s,border-color 1s ease-in-out;
}
.top-header{
  background-color: #3b3c3e;
  color: white;
}
.bottom-header{
  background-color: #0f75bd;
}
li{
  list-style: none;
}
.fullwidth-block{
  padding: 0;
}
.site-footer{
  padding: 0;
}
.site-footer .bottom-footer{
  margin-bottom: -10%;
  background-color: #495454;
}
.hero-slider .flex-control-nav {
    list-style: none;
    position: absolute;
    bottom: -4%;
    width: 100%;
    text-align: center;
    background-color: white;
    background: white;
    color: white;
    float: left;
}
.fullwidth-block{
  padding-top: 5%;
}
.overlay {
   background:transparent; 
   position:relative; 
   width:640px;
   height:480px; /* your iframe height */
   top:480px;  /* your iframe height */
   margin-top:-480px;  /* your iframe height */
}